<!DOCTYPE html>
<html>

<body>
    <div>
           
           
            
    </div>
        
        <form method = "post" action="/jsfiles/flash/fla">
           


empid<input type="text" name="empid" id="empid">
name<input type="text" name="name" id="name">
age<input type="number" name="age" id="age">
city<input type="city" name="city" id="city">
<button type="submit" name="submit" id="submit" onclick="">submit</button>
            


</form>
                   
                        

                
</body>
</html>